body{
    display: flex;
    flex-direction: column;
}
canvas{
    border: 1px solid #000;
    width: 405px;
}
button{
    width: 150px;
    height: 30px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(71, 32, 32);
    color: aliceblue;
}
button:hover{
    cursor: pointer;
    opacity: 0.6;
}
h2{
    width: 213px;
    margin: 0;
    display: inline;
}